<div class="banner">
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
  <div class="snowflake"></div>
</div>
<h1 class="btn-shine">ABOUT ME:</h1>

<div class="box">
  <div class="typewriter">
    <div class="typewriter-text">
      I am a Passionate Full-Stack Web Developer!
    </div>
  </div>
  <div>
    <p class="work-pa">
      <br />
      My Last role was <b>Automation Engineer.</b> <br/>
      Open-minded and focused on never-ending professional self-improvement.<br />
      Interested in a role as a Software Developer. I always wanted
      to learn new things It always attracted me to pursue my next challenge. I
      see myself as a “Student forever”, excited to build a successful career.
    </p>
    <img src="../../../assets/images/me3.jpg" />
  </div>

  <div class="correct-pos">
    <a routerLink="/education-experience" class="cta" (click)="scrollToTop()">
      <span>Lets Start</span>
      <svg width="13px" height="10px" viewBox="0 0 13 10">
        <path d="M1,5 L11,5"></path>
        <polyline points="8 1 12 5 8 9"></polyline>
      </svg>
    </a>
  </div>
</div>

<!-- <h1>A small part of my Portfolio:</h1>
<ng-image-slider
  [images]="imgCollection"
  [infinite]="false"
  [autoSlide]="1"
  [imageSize]="{ width: '25%', height: 430 }"
  slideImage="1"
  #nav
></ng-image-slider> -->
