<div class="container">
  <div class="row header">
    <h1>CONTACT ME &nbsp;</h1>
    <h3>All the information you need!</h3>
  </div>
  <label class="stam-label"><i class="bi bi-geo-alt"></i>&nbsp; Yavne</label
  ><br /><br />
  <label class="stam-label"
    ><i class="bi bi-envelope"></i>&nbsp; eladhakmon11@gmail.com</label
  ><br /><br />
  <label class="stam-label"
    ><i class="bi bi-telephone-forward"></i>&nbsp; 050-9785784</label
  >
  <br /><br />
</div>
<div class="container2">
  <img src="../../../assets/images/logo3.jpg" alt="Its Me!" />
</div>
