.work-pa {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  text-align: justify;
  font-size: 26px;
  line-height: 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  margin: 35px;
  padding: 15px;
}
table {
  width: 100%;
}
h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}
i {
  font-weight: bold;
}
a {
  font-size: xx-large;
  text-decoration: none;
  background-color: #fff;
  color: black;
}

h3 {
  display: block;
  color: gray;
  text-align: center;
  margin-top: 1em;
  content: "This is the subtitle";
  font: bold 25px Verdana;
}

h4 {
  display: block;
  text-align: left;
  margin-top: 4em;
  font-family: Arial, Helvetica, sans-serif;
}

.work-p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}
.work-pa {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
}
.stam-label {
  color: rgb(0, 255, 128);
  margin-left: 150px;
  font-size: 120px;
}
ul.b {
  list-style-type: square;
}
i {
  margin-left: 15px;
}

img {
  margin-left: 1100px;
  margin-top: -500px;
  width: 25%;
  height: auto;
}
.mid {
  margin-left: 900px;
  margin-top: -500px;
  width: 25%;
  height: auto;
}
.mid-text {
  display: table;
  list-style-type: square;
  margin-left: 550px;
  margin-top: 20px;
}
